@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
	font-family: 'Merienda', sans-serif;
}

.fa{
	padding-right: 20px;
	font-size: 24px;
}
.navbar{
	font-weight: 800;
	padding: 2rem 2rem;
}
.bg-light{
	background-color: #ffff!important;
}
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.intro h1{
	padding-top: 4%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 5%;
	display: block;
	width: 100%;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	font-size: 2.1vw;
	
    
    
}
.intro h2{
	font-weight: 400;
	color:#A5A8AD;
	font-size: 20px;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 25px;
	display: block;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.intro h3{
	padding-bottom: 10px;
	font-family: 'Roboto Mono', monospace;
	width: 100%;
	justify-content: center;
	text-align: center;
	font-size: 1.2vw;
	color: #A5A8AD;
	
}

.mycontainer{
margin: auto;
padding: 20px;
}

.portfolios{
width: 100%;
display: block;
}
.project-cover{
width: 100%;
    margin-top: 15px;
}
.details-wrap{
	  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: 14px;
  margin-right: 14px;
  
  opacity: 0;
  transition: .5s ease;
background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.7),
        rgba(91, 14, 214, 0.7) 100%
      );
}

.project-cover:hover .details-wrap{
	opacity: 1;
}
.details-inner {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.head{
	width:600px;
	justify-content: center;
}
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

.images{
	flex-wrap: nowrap;
	display: block;
	width: 100%;
	height: auto;
	padding:20px;
}
.content{
	display: block;
	width:100%;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


@media only screen and (max-width: 988px) {

	.intro h1{
		font-size: 3vw;
    padding: 16%;
    padding-top: 3%;
    padding-bottom: 3%;

	}
.intro h3{
font-size: 2vw;
	}
}

@media only screen and (max-width: 600px) {
	.intro h1{
		font-size: 6vw;
    padding: 16%;
    padding-top: 6%;
    padding-bottom: 6%;

	}

	.intro h3{
font-size: 4vw;
	}

}


